<h3>Daftar Mahasiswa</h3>

<table class="striped">
     <thead>
          <tr>
              <th>No</th>
              <th>NIM</th>
              <th>Nama</th>
              <th>Prodi</th>
              <th>Jenjang</th>
              <th>Status</th>
          </tr>
    </thead>
    <tbody>
        {{#each daftar}}
        <tr>
            <td>{{this.no}}</td>
            <td>{{this.nim}}</td>
            <td>{{this.namaMahasiswa}}</td>
            <td>{{this.prodi}}</td>
            <td>{{this.jenjang}}</td>
            <td>{{this.statusMahasiswa}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>